/* Account Container */

/* Account Container */
.account-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Login and Signup Containers */
.login-container {
    display: block;
    background: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 20px #003167;
    margin: 0 20px;
    max-width: 430px;
    overflow: hidden;
    padding: 30px;
    width: 50%;
    transition: transform 0.5s ease-in-out;
}

.signup-container {
    display: none;
    background: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 20px #003167;
    margin: 0 20px;
    max-width: 430px;
    overflow: hidden;
    padding: 30px;
    width: 50%;
    transition: transform 0.5s ease-in-out;
}

.input-field {
    height: 50px;
    margin-top: 30px;
    position: relative;
    width: 100%;
}

/* Slide out to the left animation */
@keyframes slideOutToLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}


.login-signup {
    margin-top: 15px;
    text-align: center;
}

/* CSS */
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* Guest Container */
.guest-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 20px #003167;
    display: none;
    margin: 0 20px;
    max-width: 430px;
    overflow: hidden;
    padding: 30px;
    width: 50%;
    transition: transform 0.5s ease-in-out;
}

.guest-container .title {
    font-size: 27px;
    font-weight: 600;
    position: relative;
}

.guest-container .title::before {
    background-color: #003167;
    border-radius: 25px;
    bottom: 0;
    content: '';
    height: 3px;
    left: 0;
    position: absolute;
    width: 30px;
}

.guest-container .input-field {
    height: 50px;
    margin-top: 30px;
    position: relative;
    width: 100%;
}

/* Slide out to the left animation */
@keyframes slideOutToLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
