/* The .canvas-container class is applied to the container that wraps the title and the canvas. */
.canvas-container {
    align-items: center;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5vh auto;
}

/* The .title-drawing class applies styles to the title. */
.canvas-container .title-drawing{
    margin: 5vh auto;
}

/* The .drawing-canvas class applies styles to the canvas. */
.canvas-container .drawing-canvas {
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    height: 80vh;
    width: 70vw;
}