/* CSS for the layout */
.flex-container {
    display: flex;
}

/* CSS for the tool box */
.tool-box {
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    flex: none;
    height: auto;
    margin-right: 1%;
    margin-top: 0%;
    padding-right: 10px;
    width: 10vw;
}

.timer-container {
    height: 30%;
}

.player-container {
    height: auto;
}

/* CSS for the canvas container */
.canvas-container {
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    flex: none;
    height: 80vh;
    margin-right: 1%;
    margin-top: 0%;
    width: 65vw;
    float: left; /* Float the tool box to the left */
}

/* CSS for the headings */
.title-drawing {
    font-size: 27px;
    font-weight: 600;
    position: relative;
}

.title-drawing::before {
    background-color: #003167;
    border-radius: 25px;
    bottom: 0;
    content: '';
    height: 3px;
    left: 0;
    position: absolute;
    width: 30px;
}

/* CSS for the drawing canvas */
.canvas-container .drawing-canvas {
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    height: 80vh;
    width: 65vw;
}

/* CSS for the rows inside the tool box */
.tool-box .row {
    align-items: center;
    cursor: pointer;
    margin: 7.5%;
}

/* CSS for the options list */
.row .options {
    align-items: center;
    flex-direction: column;
    font-size: 18px;
    list-style: none;
    padding: 1%; /* Use em for padding */
}

/* CSS for options list and color options */
.color-options li,
.options li {
    margin: 2.5%;
    padding-bottom: 7.5px;
}

/* SVG styling */
.svg {
    height: 10%;
    width: 10%;
}

.countdown-timer{
    font-family: 'Roboto';
    font-size: 18px; 
}

/* Styling for color input */
input[type='color'] {
    width: 85%; /* This will put the input element on a new line */
}

/* Flex display for color options */
.options.color-options {
    display: flex;
    flex-direction: row;
}

/* Styling for color field button */
.btn-color-field {
    border-radius: 10px;
    height: 2vh;
    width: 1.5vw;
}

/* Styling for tool options and shapes when hovered or active */
.tool-option:is(:hover, .active) img {
    filter: brightness(100%) hue-rotate(900deg) invert(17%) saturate(3000%) sepia(90%);
}

/* Add hover effect for list items */
.tool-option:hover {
    background-color: #f5f5f5; /* Change this to your preferred color */
    cursor: pointer;
}

/* Add active effect for list items */
.tool-option.active {
    background-color: #e0e0e0; /* Change this to your preferred color */
    border: 2px solid #000; /* Add a border to the active item */
}