/* Lobby Button Container */
.lobby-button-container {
    display: flex;
    align-items: center; /* Vertically center items */
    justify-content: center; /* Center items vertically */
}

/* Margin to separate the input and button */
.lobby-button-container  > * {
    margin-right: 0px;
}

.room-code-container {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    margin: 0;
    padding: 0;
    font-size: larger;
    align-items: center; /* Vertically center items */
    justify-content: center; /* Center items vertically */
}

.button-container {
    display: flex;
    align-items: center; /* Vertically center items */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items vertically */
}