.button-container {
    align-items: center; /* Vertically center items */
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items vertically */
}

.lobby-button-container {
    align-items: center; /* Vertically center items */
    display: flex;
    justify-content: center; /* Center items vertically */
}

.lobby-button-container > * {
    margin-right: 0px;
}

.room-code-heading {
    align-items: left; /* Vertically center items */
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* font-size: larger; */
    font-weight: bolder;
    justify-content: left; /* Center items vertically */
    margin: 0;
    padding-bottom: 5px;
    text-align: left; /* Align text to the left */
}

.lobby-container-text {
    align-items: center; /* Vertically center items */
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* font-size: larger; */
    font-size: 18px;
    font-weight: bolder;
    justify-content: center; /* Center items vertically */
    margin: 0;
    padding-bottom: 5px;
    text-align: left; /* Align text to the left */
}

.start-time-container {
    justify-content: center; /* Center items vertically */
    text-align: center; /* Align text to the center */
}

.lobby-left {
    align-items: center; /* Vertically center items */
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    justify-content: top; /* Center items vertically */
    padding: 20px;
    width: 50%;
}

.lobby-center {
    align-items: center; /* Vertically center items */
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center; /* Center items vertically */
    margin-right: 10px;
    margin-left: 10px;
    padding: 20px;
}

.lobby-right {
    align-items: center; /* Vertically center items */
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    justify-content: top; /* Center items vertically */
    padding: 20px;
    width: 50%;
}

.horizontal-container {
    align-items: center; /* Vertically center items */
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center items vertically */
    width: 100%;
}

