/* HTML Body */
body {
    background: linear-gradient(270deg, #003167, #0e7efb);
    background-size: 400% 400%;

    -webkit-animation: gradientBackground 30s ease infinite;
    -moz-animation: gradientBackground 30s ease infinite;
    -o-animation: gradientBackground 30s ease infinite;
    animation: gradientBackground 30s ease infinite;

    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Graident Background */

@-webkit-keyframes gradientBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes gradientBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes gradientBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes gradientBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* Home Container */
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    width: 50%; /* Set width to 60% of the viewport width */
    height: 75vh; /* Set height to 60% of the viewport height */
    display: flex; /* Use Flexbox */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
}

/* Start Button */
.btn-start {
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 18px;
    width: 25%;
    background-color: #0E7EFB;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out; /* Transition for button background-color */
}

.btn-start:hover {
    background-color:  #003167; /* Darken the button on hover */
}

/* Footer */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-family: 'Roboto';
    font-size: 14px;
    color: #ffffff;
}

.footer a {
    color: #e9e9e9;
}

