/* HTML Body */
body {
    background: linear-gradient(270deg, #003167, #0e7efb); /* 004EA6 */
    background-size: 400% 400%;

    animation: gradientBackground 30s ease infinite;
    -moz-animation: gradientBackground 30s ease infinite;
    -o-animation: gradientBackground 30s ease infinite;
    -webkit-animation: gradientBackground 30s ease infinite;
    
    align-items: center;
    display: flex;
    height: 100vh;
    font-family: 'Roboto';
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.draw-body{
    flex-direction: row;
}

/* Graident Background */

@-webkit-keyframes gradientBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes gradientBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes gradientBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes gradientBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* Container */
.container {
    align-items: center; /* Center items horizontally */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 20px #003167; 
    /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); */
    display: flex; 
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items vertically */
    padding: 20px;
    text-align: center;
}

.end-container {
    background-color: #fff;; /* Set background color to transparent */
    display: flex;
    flex-direction: row; /* Stack items vertically */
    justify-content: center; /* Ensure space between the columns */
    padding: 20px;
    text-align: center;
    width: 40%;
}

.admin-container-screen {
    background-color: #fff;; /* Set background color to transparent */
    display: flex;
    flex-direction: row; /* Stack items vertically */
    justify-content: center; /* Ensure space between the columns */
    padding: 20px;
    text-align: center;
    width: 65%;
}


.prompt-container {
    align-items: center; /* Center items horizontally */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: none;
    display: flex; 
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items vertically */
    margin: 5px;
    padding: 5px;
    text-align: center;
    width: 50%;
}

.home-container {
    width: 50%;
}

.lobby-container {
    align-items: center; /* Vertically center items */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center items vertically */
    width: 25%;
}

/* Button */
.button {
    background-color: #0E7EFB;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 0px #003167;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px;
    transition: background-color 0.3s ease-in-out; /* Transition for button background-color */
    width: 25%;
}

/* .cookie-button {
    background-color: #0E7EFB;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px;
    transition: background-color 0.3s ease-in-out;
} */

.account-button {
    border: 2px solid #003167;
    margin-top: 15px;
    text-align: center;
    width: 100%;
}

.lobby-button {
    border: 2px solid #003167;
    margin-top: 15px;
    text-align: center;
    width: 100%;
}

.copy-button {
    border: 2px solid #003167;
    margin-top: 15px;
    text-align: center;
    width: 100%;
}

.start-button {
    border: 2px solid #003167;
    background-color: #a6a6a6;
    margin-top: 15px;
    text-align: center;
    width: 100%;
}

.draw-button {
    border: 2px solid #003167;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px 10px;
    text-align: center;
    width: 100%;
}

.room-code-button {
    background-color: #cdcdcd;
    border: 2px solid #707070;
    border-radius: 5px;
    box-shadow: 3px 3px 0px #707070;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 10px 10px;
    text-align: left;
    transition: background-color 0.3s ease-in-out; /* Transition for button background-color */
    width: 100%;
}

.red-button {
    background-color: #ff661a;
    border: 2px solid #ff0000;
    color: #fff;
    text-align: center;
}

.red-button:hover {
    background-color: #ff0000;
    border: 2px solid #ff3333;
}

.username-button {
    background-color: #eab676;
    border: 2px solid #e28743;
}

.button:hover {
    background-color:  #003167; /* Darken the button on hover */
}

/* Header */
.header {
    background-color: transparent;
    padding: 20px 0;
}

.header-inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav ul li {
    display: inline;
    margin-right: 20px;
}

.nav ul li:last-child {
    margin-right: 0;
}

.nav ul li a {
    color: #dbdbdb;
    font-family: 'Roboto';
    font-size: 16px;
    text-decoration: none;
    transition: color 0.3s ease-in;
}

.nav ul li a:hover {
    color: #ffffff;
}

/* Footer */
.footer {
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 14px;
    padding: 25px 0px;
    text-align: center;
    width: 100%;
}

.footer a {
    color: #dbdbdb;
}

.admin-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding-top: 20px;
    border-radius: 10px;
    width: 100%;
}

/* Input Field */
.input-field i {
    color: #003167;
    font-size: 23px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.2s ease;
}

.input-field i.icon {
    left: 0;
}

.input-field i.showHidePassword {
    cursor: pointer;
    padding: 10px;
    right: 0;
}

.input-box {
    position: relative; /* Make the input box a positioning context for the icon */
}

.input-box i {
    position: absolute; /* Position the icon absolutely inside the input box */
    color: #003167;
    font-size: 20px;
    top: 50%;
    left:20px; /* Adjust the left position of the icon as needed */
    transform: translateY(-50%) translateX(-25%);
    transition: all 0.2s ease;
}

.input-box input {
    margin: 5px;
    border: 2px solid #003167;
    font-size: 16px;
    outline: none;
    padding: 10px 35px; /* Adjust padding to accommodate the icon */
    transition: all 0.2s ease;
    box-shadow: 3px 3px 0px #003167; 
}

.input-field input {
    border: none;
    border-bottom: 2px solid #003167;
    border-top: 2px solid transparent;
    font-size: 16px;
    height: 100%;
    outline: none;
    padding: 0 35px;
    position: absolute;
    transition: all 0.2s ease;
    width: 100%;
}

.input-field input:focus,
.input-field input:valid {
    border-bottom-color: #0e7efb;
}

.input-field input:focus ~ i,
.input-field input:valid ~ i {
    color: #0e7efb;
}

/* Text */
.text {
    color: #333;
    font-size: 14px;
}

.text:hover {
    text-decoration: underline;
}

.title {
    font-size: 27px;
    font-weight: 600;
    position: relative;
}

.title::before {
    background-color: #003167;
    border-radius: 25px;
    bottom: 0;
    content: '';
    height: 3px;
    left: 0;
    position: absolute;
    width: 30px;
}

.cookieConsentBanner {
    align-items: center; /* Center align content */
    background-color: #333; /* Darker background color */
    bottom: 0;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1); /* Shadow for better visibility */
    color: #fff; /* Text color */
    display: flex; /* Center align content */
    font-family: 'Roboto', sans-serif; /* Ensure consistency with other text */
    gap: 10px; /* Space between elements */
    justify-content: center; /* Space between content */
    left: 0;
    padding: 15px; /* Increased padding */
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 9999; /* Ensure it's above other content */
}

.cookieConsentBanner p {
    margin: 0; /* Remove default margin */
}

.cookie-button {
    background-color: #4CAF50; /* Green button */
    border: none;
    border-radius: 5px;
    color: white; /* Button text color */
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s; /* Smooth transition */
}

.cookie-button:hover {
    background-color: #45a049; /* Darker green on hover */
}