<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard - Miscommunication Mayhem</title>
    <!-- Google Fonts - Roboto -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <!-- ===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/account.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/lobby.css">
</head>
<body>
    <!-- Header -->
    <header class="header">
        <div class="header-inner">
            <nav class="nav">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/account">ACCOUNT</a></li>
                    <li><a href="/game">LOBBY</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container admin-container-screen">
        <div class="left-column-admin">
            <span class="title">User Logs</span>
            <div id="logsContent" class="logs-content"></div>
        </div>
        
        <div class="right-column-admin">
            <span class="title">Administrator Dashboard</span>
            <form action="api/getLogs" method="post" class="admin-form">
                <!-- Number of logs input field -->
                <div class="input-box">
                    <i class="uil uil-keyboard icon"></i>
                    <input type="text" id="logCount" name="logCount" placeholder="Enter the number of logs you'd like to query." required>
                </div>
                <!-- Button -->
                <button id="getLogsButton" class="button account-button">Get Logs</button>
            </form>
            <button id="viewLogsButton" class="button account-button">View Logs</button>
        </div>
    </div>
    
    <script type="module" src="/scripts/classes/admin.js"></script>
</body>
</html>
