<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard - Miscommunication Mayhem</title>
    <!-- Google Fonts - Roboto -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <!-- ===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/account.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <!-- Header -->
    <header class="header">
        <div class="header-inner">
            <nav class="nav">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/account">ACCOUNT</a></li>
                    <li><a href="/game">LOBBY</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        <span class="title">Administator Dashboard</span>
    </div>
</body>
</html>
