<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Miscommunication Mayhem</title>
    <!-- Google Fonts - Roboto -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <!-- ===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/lobby.css">
    <link rel="stylesheet" href="/css/draw.css">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/images/favicon.png">
</head>
<body id="body" >
    <!-- Lobby Container -->
    <div id="lobbyContainer" class="container">
        <!-- Room creation form -->
        <form id="createRoomForm">
            <!-- Button -->
            <button type="submit" id="createLobbyButton" class="button lobby-button">Create Lobby</button>
        </form>

        <div class = "lobby-button-container">
            <!-- Room joining form -->
            <form id="joinRoomForm" class = "lobby-button-container">
                <div class = "input-box">
                    <i class="uil uil-keyboard icon"></i>
                    <input type="text" id="roomIdInput" placeholder="Enter lobby code">
                </div>
                <!-- Button should be within the div -->
                <button type="submit" id="joinLobbyButton" class="button lobby-button">Join</button>
            </form>
        </div>
    </div>

    <!-- Post lobby screen -->
    <div id="postLobbyCreationScreen">
    </div>

    <!-- Drawing screen -->
    <div id = 'entireDrawingScreen' style="display: none;">
        <div style = "align-items: center; display: flex; flex-direction: column; justify-content: center; ">
            <div id = "drawing-prompt" class = "container prompt-container">
                <p id = "header-drawing-prompt" class = 'room-code-container'></p>
            </div>

            <div id="drawingScreen" class="flex-container">
                <div class='tool-box' id='tool-box'>
                    <div class='row'>
                        <label class='title-drawing'>Tool Selection</label>
                        <ul class='options'>
                            <!-- Tool option -->
                            <li class='tool-option' id="tool-option-1" onClick = 'pen()'>
                                <!-- Icon for pen -->
                                <img class="svg" id = 'penOption' src="/images/pen.svg" alt="">
                                <!-- Label for pen -->
                                <span>Pen</span>
                            </li>

                            <!-- Tool option -->
                            <li class='tool-option' id="tool-option-2" onClick = 'eraser()'>
                                <!-- Icon for eraser -->
                                <img class="svg" id = 'eraserOption' src="/images/eraser.svg" alt="">
                                <!-- Label for eraser -->
                                <span>Eraser</span>
                            </li>

                            <!-- Tool option: Highlighter -->
                            <li class='tool-option' id = 'tool-option-3' onClick = 'highlighter()'>
                                <!-- Icon for highlighter -->
                                <img class="svg" id = 'highlighterOption' src="/images/paint-format.svg" alt="">
                                <!-- Label for highlighter -->
                                <span>Highlighter</span>
                            </li>
                                                
                            <!-- Tool option: SprayCan -->
                            <li class='tool-option' id = 'tool-option-4' onClick = 'spraycan()'>
                                <!-- Icon for spray can -->
                                    <img class="svg" id = 'spraycanOption' src="/images/magic-wand.svg" alt="">
                                    <!-- Label for spray can -->
                                    <span>SprayCan</span>
                            </li>

                            <!-- Input for size selection -->
                            <li class='tool-option'>
                                <input onInput = 'changeLineWidth(this.value)' type='range' id='drawingSizeInput' min='1' max='100' value='5'>
                            </li>
                        </ul>
                    </div>
                    
                    <!-- Row for color selection -->
                    <div class='row'>
                        <!-- Label for color selection -->
                        <label class='title-drawing'>Color Selection:</label>
                        <!-- List of color options -->
                        <ul class='options color-options'>
                            <!-- Color option: Red -->
                            <li><div onClick="changeColor(this)" id = 'redColorOption' class='btn-color-field' style='background: red;'></div></li>
                            <!-- Color option: Green -->
                            <li><div onClick="changeColor(this)" id = 'greenColorOption' class='btn-color-field' style='background: green;'></div></li>
                            <!-- Color option: Blue -->
                            <li><div onClick="changeColor(this)" id = 'blueColorOption' class='btn-color-field' style='background: blue;'></div></li>
                            <!-- Color option: Purple -->
                            <li><div onClick="changeColor(this)" id = 'purpleColorOption' class='btn-color-field' style='background: purple;'></div></li>
                        </ul>
                        <!-- Input for color selection -->
                        <input onInput = 'changeColorPicker(this.value)' type='color' id = 'colorPicker' class="color-option">
                    </div>
                    <div class='row'>
                        <ul class='options'>
                            <!-- Button option -->
                            <li class='tool-option'>
                                <button class='button draw-button' id='undoCanvasButton'>Undo</button>
                            </li>
        
                            <!-- Button option -->
                            <li class='tool-option'>
                                <button class='button draw-button' id='clearCanvasButton'>Clear</button>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class='canvas-container'>
                    <canvas class='drawing-canvas' id="drawing-canvas"></canvas>
                </div>

                <div style="display: flex; flex-direction: column; gap: 10px;">
                    <div class = 'tool-box'>
                        <div class='row'>
                            <p class = 'title-drawing' id = 'timer-label'> Time Remaining</p>
                            <p class = 'countdown-timer' id = "countdownTimer"></p>
                        </div>
                    </div>
                    
                    <div class = 'tool-box player-container'>
                        <div id="usernameDisplayOnDraw" class='row'>
                        </div>
                    </div>

                    <button id='submitDrawingButton' class='button draw-button'>Submit Drawing</button>
                </div>
                
            </div>
        </div>
    </div>

    <!-- Intial prompt screen -->
    <div id = 'intialPromptScreen' class = 'container' style="display: none;">
        <!-- Lottie Animation -->
        <dotlottie-player src="https://lottie.host/584898dc-fa02-42d5-9736-4985b1aaea84/VkCFqepdh4.json" 
        background="transparent" speed="1" style="width: 200px; height: 200px;" loop autoplay></dotlottie-player>
        <p class = 'title-drawing'>Write a Prompt</p>

        <!-- Prompt form -->
        <form id="promptForm" class = "lobby-button-container">
            <div class = "input-box">
                <i class="uil uil-keyboard icon"></i>
                <input type="text" id="promptInput" placeholder="A big group of people draw together">
            </div>
            <!-- Prompt submit button -->
            <button id="prompt-button" class="button lobby-button">Submit</button>
        </form>
        <div> 
            <button id="randomPromptButton" class="button lobby-button">Prompt For Me</button>
        </div>
        <div class = 'prompt-timer-container'>
            <div>
                <p class = 'lobby-container-text prompt-time-container' id = 'promptTimerLabel'> Time Remaining:</p>
                <p class = 'room-code-container start-time-container' id = "promptCountdownTimer"></p>
            </div>
        </div>
    </div>

    <!-- Waiting screen -->
    <div id = 'waitingScreen' class = 'container' style="display: none;">
        <!-- Lottie Animation -->
        <dotlottie-player src="https://lottie.host/6ee573f4-c43f-4939-b753-8850ca1904e0/8i15FEz9Cv.json" 
        background="transparent" speed="1" style="width: 200px; height: 200px;" loop autoplay></dotlottie-player>
        <p class = 'title-drawing'>On Hold</p>
        <p id = "currentRoundMessage" class="lobby-container-text"> '</p>
        <p id = 'turnIndicatorMessage' class = 'room-code-container'>Waiting for another players turn to finish...</p>
    </div>

    <!-- Guessing screen -->
    <div id='guessingScreen' class='container' style="display: none;">
        <p class = 'title-drawing'>Describe the Drawing</p>
        <p class = 'room-code-container'>Now it's your turn to describe the drawing!</p>
        
        <!-- Canvas data will be loaded into this div -->
        <div id='canvas-data' class='canvas-data'></div>

        <!-- Prompt form -->
        <form id="promptForm" class = "lobby-button-container">
            <div class = "input-box">
                <i class="uil uil-keyboard icon"></i>
                <input type="text" id="guessInput" placeholder="What do you see?">
            </div>
            <!-- Prompt submit button -->
            <button id="guess-button" class="button lobby-button">Submit</button>
        </form>
    </div>  

   <!-- End game screen -->
   <div id='endGameScreen' class='container end-container' style="display: none;">
        <div class="left-column">
            <div id="endGameResults" class="results-container">
                <div class="prompt-container-end" id="initialPrompt"></div>
                <div class="drawing-container-end" id="initialDrawing"></div>
                <div class="prompt-container-end" id="finalPrompt"></div>
                <div class="drawing-container-end" id="finalDrawing"></div>
            </div>
        </div>
        
        <div class="right-column">
            <p class='title-drawing end-title'>Game Over!</p>
                <button id="backToLobbySessionButton" class="button lobby-button end-button">Return to Lobby</button>
                <button id="backToLobbyScreenButton" class="button lobby-button end-button">End Game Session</button>
        </div>
    </div>



    <!-- Load scripts -->
    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="/scripts/classes/client.js"></script>
    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 
</body>
</html>
