<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Miscommunication Mayhem</title>
    <!-- Google Fonts - Roboto -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <!-- ===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/lobby.css">
    <link rel="stylesheet" href="/css/draw.css">
</head>
<body>
    <!-- Lobby Container -->
    <div id="lobbyContainer" class="container">
        <!-- Room creation form -->
        <form id="createRoomForm">
            <!-- Button -->
            <button type="submit" id="createLobbyButton" class="button lobby-button">Create Lobby</button>
        </form>

        <div class = "lobby-button-container">
            <!-- Room joining form -->
            <form id="joinRoomForm" class = "lobby-button-container">
                <div class = "input-box">
                    <i class="uil uil-keyboard icon"></i>
                    <input type="text" id="roomIdInput" placeholder="Enter lobby code">
                </div>
                <!-- Button should be within the div -->
                <button type="submit" id="joinLobbyButton" class="button lobby-button">Join</button>
            </form>
        </div>
    </div>

    <!-- Post lobby screen -->
    <div id="postLobbyCreationScreen">
    </div>

    <!-- Drawing screen -->
    <div id = 'entireDrawingScreen' style="display: none;">
        <div style = "display: flex; flex-direction: column;">
            <div id = "drawing-prompt" class = "prompt-title">
                <h1 id = "header-drawing-prompt" class = 'prompt-title'></h1>
            </div>
            <div id="drawingScreen" class="flex-container">
                <div class='tool-box' id='tool-box'>
                    <div class='row'>
                        <label class='title-drawing'>Tool Selection</label>
                        <ul class='options'>
                            <!-- Tool option -->
                            <li class='tool-option' id="tool-option-1" onClick = 'pen()'>
                                <!-- Icon for pen -->
                                <img class="svg" id = 'pen-option' src="/images/pen.svg" alt="">
                                <!-- Label for pen -->
                                <span>Pen</span>
                            </li>

                            <!-- Tool option -->
                            <li class='tool-option' id="tool-option-2" onClick = 'eraser()'>
                                <!-- Icon for eraser -->
                                <img class="svg" id = 'eraser-option' src="/images/eraser.svg" alt="">
                                <!-- Label for eraser -->
                                <span>Eraser</span>
                            </li>

                            <!-- Button option -->
                            <li class='tool-option'>
                                <button class='button draw-button' id='clear-canvas-button'>Button 1</button>
                            </li>

                            <!-- Button option -->
                            <li class='tool-option'>
                                <button class='button draw-button' id='clear-canvas-button'>Button 2</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class='canvas-container'>
                    <canvas class='drawing-canvas' id="drawing-canvas"></canvas>
                </div>

                <div style="display: flex; flex-direction: column; gap: 10px;">
                    <div class = 'tool-box timer-container'>
                        <div class='row'>
                            <p class = 'title-drawing' id = 'timer-label'> Time Remaining</p>
                            <p class = 'countdown-timer' id = "countdownTimer"></p>
                        </div>
                    </div>
                    
                    <div class = 'tool-box player-container'>
                        <div id="usernameDisplayOnDraw" class='row'>
                        </div>
                    </div>

                    <button id='submit-drawing-button' class='button draw-button'>Submit Drawing</button>
                </div>
                
            </div>
        </div>
    </div>

    <!-- Intial prompt screen -->
    <div id = 'intialPromptScreen' class = 'container' style="display: none;">
            <p class = 'title-drawing'>Write a Prompt</p>

            <!-- Prompt form -->
        <form id="promptForm" class = "lobby-button-container">
            <div class = "input-box">
                <i class="uil uil-keyboard icon"></i>
                <input type="text" id="prompt-input" placeholder="A big group of people draw together">
            </div>
            <!-- Prompt submit button -->
            <button id="prompt-button" class="button lobby-button">Submit</button>
        </form>
    </div>

    <!-- Waiting screen -->
    <div id='waitingScreen' class='flex-container' style="display: none;">
        <div class='waiting-box'>
            <h1 id = 'waiting-screen-title' class='waiting-title'>Waiting for another players turn to finish...</h1>
        </div>
    </div>

        <!-- Guessing screen -->
        <div id='guessingScreen' class='flex-container' style="display: none;">
            <div class='guessing-box'>
                <h1 class='guessing-title'>Guess the Drawing</h1>
                <!-- Canvas data will be loaded into this div -->
                <div id='canvas-data' class='canvas-data'></div>
                <!-- Text input field for guessing -->
                <input type='text' id='guess-input' class='guess-input' placeholder='Enter your guess here'>
                <!-- Submit guess button -->
                <button id='guess-button' class='button guess-button'>Submit Guess</button>
            </div>
        </div>
    </div>  

   <!-- End game screen -->
    <div id='endGameScreen' class='flex-container' style="display: none;">
        <div class='end-game-box'>
            <h1 class='end-game-title'>Game Over</h1>
            <!-- You can add more elements here to show game results, etc. -->
        </div>
    </div>

    <!-- Load Socket.IO library -->
    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="/scripts/classes/client.js"></script>
</body>
</html>
