<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lobby - Miscommunication Mayhem</title>
    <!-- Google Fonts - Roboto -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <!-- Welcome Container -->
    <div id="container" class="container">
        <!-- Website Title -->
        <h1 class="h1">Lobby</h1>
    </div>

    <!-- Footer -->
    <footer class="footer">
        <p>&copy; 2024 Miscommunication Mayhem by 
            <a href="https://github.com/witseie-elen4010/2024-group-lab-001" target="_blank">
            Group 01 of ELEN4010</a>.</p>
    </footer>

    <script src="/scripts/classes/index.js"></script>
</body>
</html>