<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lobby - Miscommunication Mayhem</title>
    <!-- Google Fonts - Roboto -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <!-- ===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/lobby.css">
</head>
<body>
    <!-- Lobby Container -->
    <div id="lobbyContainer" class="container">
        <!-- Button -->
        <button id="createLobbyButton" class="button lobby-button">Create Lobby</button>
        <div class = "lobby-button-container">
            <div class = "input-box">
                <i class="uil uil-keyboard icon"></i>
                <input type="text" placeholder="Enter lobby code">
            </div>
            <!-- Button should be within the div -->
            <button id="joinLobbyButton" class="button lobby-button">Join</button>
        </div>
    </div>

    <script src="/scripts/classes/index.js"></script>
</body>
</html>
