<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lobby - Miscommunication Mayhem</title>
    <!-- Google Fonts - Roboto -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <!-- ===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/lobby.css">
</head>
<body>
    <!-- Lobby Container -->
    <div id="lobbyContainer" class="container">
        <!-- Room creation form -->
        <form id="createRoomForm">
            <!-- Button -->
            <button type="submit" id="createLobbyButton" class="button lobby-button">Create Lobby</button>
        </form>

        <div class = "lobby-button-container">
            <!-- Room joining form -->
            <form id="joinRoomForm" class = "lobby-button-container">
                <div class = "input-box">
                    <i class="uil uil-keyboard icon"></i>
                    <input type="text" id="roomIdInput" placeholder="Enter lobby code">
                </div>
                <!-- Button should be within the div -->
                <button type="submit" id="joinLobbyButton" class="button lobby-button">Join</button>
            </form>
        </div>
    </div>

    <div id="postLobbyCreationScreen" >
    </div>

    <!-- Load Socket.IO library -->
    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="/scripts/classes/client.js"></script>

</body>
</html>
